<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Poll Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>

<body>
    <div class="container" style="left:auto; right:auto; margin-top:5%; background-color:#eee; padding:15px;">
        <h3><%= poll_details['name'] %></h3>
        <div><p style="font-size:18px;">I'd like to vote for :</p></div>
        <div>
            <form role="form" action="/vote" method="POST" >
                <div class="form-group" data=<%= poll_details['options'] %>>
                    <select name="poll_options" class="form-control">
                        <option disabled="disabled" selected="selected" hidden>
                            Choose an Option...
                        </option>
                        <% for(var i=0; i<Object.keys(poll_details['options']).length; i++) {%>
                            <option value=<%= Object.keys(poll_details['options'])[i] %>>
                                <%= Object.keys(poll_details['options'])[i] %>
                            </option>
                        <% } %>
                    </select>
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-top:5%;margin-bottom:5%"><canvas width="480" height="250"></canvas></div>
            <div class="col-md-6" style="margin-top:6%;margin-bottom:5%">
                <% for(var i=0; i<Object.keys(poll_details['options']).length; i++) {%>
                    <p style="font-size:18px"><%= Object.keys(poll_details['options'])[i] %>: <%= poll_details['options'][Object.keys(poll_details['options'])[i]] %></p>
                <% } %>
            </div>
        </div>
    </div>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src="//d3js.org/d3.v4.0.0-alpha.4.min.js"></script>
    <script>
        // -------------------
        var data = <%- JSON.stringify(poll_details['options']) %>
        var data_text = Object.keys(data);
        var data_value = [];
        for(var i=0; i<data_text.length; i++){
            data_value.push(data[data_text[i]]);
        }
        // ---------------------
        var canvas = document.querySelector("canvas"),
                context = canvas.getContext("2d");

        var width = canvas.width,
                height = canvas.height,
                radius = Math.min(width, height) / 2;

        var colors = [
            "#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
            "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"
        ];

        var arc = d3.arc()
                .outerRadius(radius - 10)
                .innerRadius(radius - 70)
                .padAngle(0.03)
                .context(context);

        var pie = d3.pie();

        var arcs = pie(data_value);

        context.translate(width / 2, height / 2);

        context.globalAlpha = 0.5;
        arcs.forEach(function(d, i) {
            context.beginPath();
            arc(d);
            context.fillStyle = colors[i];
            context.fill();
        });

        context.globalAlpha = 1;
        context.beginPath();
        arcs.forEach(arc);
        context.lineWidth = 1.5;
        context.stroke();

    </script>
</body>

</html>
